@model TrelloIntegration.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Your Trello Boards";
}

<script>
    var getBoardsUrl = "@Url.Action("Boards", "Dashboard", null)";
</script>
<script src="~/Scripts/index.js"></script>

<div class="container">
    <div class="navbar navbar-default">
        @Html.Partial("UserPanel", Model.UserFullName)
    </div>

    @Html.Partial("DashboardTop")

    <div class="well">
       <div class="boards">
           <h1>Loading your boards...</h1>
       </div>
    </div>
</div>