@model TrelloIntegration.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Your Trello Boards";

}

<script src="~/Scripts/dashboard.js"></script>

<div class="container">

    @Html.Partial("DashboardTop")

    <div class="well">
        @foreach (var board in Model.Boards)
        {
            <a class="btn btn-block btn-default" href="/dashboard/board/@board.ID">
                <h1>
                    @board.Name
                </h1>
            </a>
        }
    </div>
</div>