
@{
    ViewBag.Title = "Your Trello Boards";

}

@section scripts {
    <script>
        var token = "@Session["trello_token"]";
        var logoutAction = "@Url.Action("Logout", "Home", null)";
    </script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/cards.js"></script>
}

<div ng-controller="TrelloCtrl">

    <div class="container">

        <div class="alert alert-danger" role="alert" ng-show="hasError">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <span ng-bind="errorMessage"></span>
        </div>

        <div class="alert alert-success" role="alert" ng-show="showSuccessMessage">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <span ng-bind="successMessage"></span>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <h1>Your Trello boards</h1>
            </div>
            <div class="col-lg-2">
                <button class="btn-primary btn-lg btn-block" ng-click="logout()">Log out</button>
            </div>
        </div>

        <div class="list-group well">
            <div class="list-group-item" ng-repeat="board in boards">
                <div class="list-group">
                    <div class="list-group-item-heading" ng-click="board.isCollapsed = !board.isCollapsed">
                        <h2>
                            <span class="clickable">
                                {{board.name}}
                                <small ng-show="!board.isCollapsed">Lists:</small>
                            </span>
                            <span ng-show="board.isCollapsed" class="pull-right glyphicon glyphicon-plus clickable"></span>
                            <span ng-show="!board.isCollapsed" class="pull-right glyphicon glyphicon-minus clickable"></span>
                        </h2>
                    </div>
                    <div class="list-group-item" ng-repeat="list in board.lists" ng-hide="board.isCollapsed">
                        <div class="list-group">
                            <div class="list-group-item-heading" ng-click="list.isCollapsed = !list.isCollapsed">
                                <h3>
                                    <span class="clickable">
                                        {{list.name}}
                                        <small ng-show="!list.isCollapsed">Cards:</small>
                                    </span>
                                    <span ng-show="list.isCollapsed" class="pull-right glyphicon glyphicon-plus clickable"></span>
                                    <span ng-show="!list.isCollapsed" class="pull-right glyphicon glyphicon-minus clickable"></span>
                                </h3>
                            </div>
                            <div class="list-group-item" ng-repeat="card in list.cards" ng-hide="list.isCollapsed">
                                <div class="list-group">
                                    <div class="list-group-item-heading" ng-click="card.isCollapsed = !card.isCollapsed">
                                        <h4>
                                            <span class="clickable">
                                                {{card.name}}
                                                <small ng-show="!card.isCollapsed">Comments:</small>
                                            </span>
                                            <span ng-show="card.isCollapsed" class="pull-right glyphicon glyphicon-plus clickable"></span>
                                            <span ng-show="!card.isCollapsed" class="pull-right glyphicon glyphicon-minus clickable"></span>
                                        </h4>
                                    </div>
                                    <div class="list-group-item comments" ng-hide="card.isCollapsed">
                                        <form class="input-group" ng-submit="addComment(card)">
                                            <div class="input-group-btn">
                                                <input class="form-control" type="text" ng-model="card.newComment">
                                                <button class="btn btn-success" ng-class="{ disabled: card.sendingComment }" placeholder="Enter a comment" type="submit">Add Comment</button>
                                            </div>
                                        </form>
                                        <div ng-repeat="comment in card.comments">
                                            <span>{{comment.data.text}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
