<script>
    var token = "@Session["trello_token"]";
</script>

<script src="~/Scripts/angular.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div ng-controller="TrelloCtrl">
    <div class="container">

        <div class="row">
            <div class="col-lg-10">
                <h1>Your Trello boards</h1>
            </div>
            <div class="col-lg-2">
                <button class="btn-primary btn-lg btn-block" ng-click="logout()">Log out</button>
            </div>
        </div>

        <div class="list-group well">
            <div class="list-group-item" ng-repeat="board in boards">

                <div class="list-group">
                    <div class="list-group-item-heading" ng-click="board.isCollapsed = !board.isCollapsed">
                        <h2>
                            {{board.name}}
                            <span ng-show="board.isCollapsed" class="pull-right glyphicon glyphicon-plus"></span>
                            <span ng-show="!board.isCollapsed" class="pull-right glyphicon glyphicon-minus"></span>
                        </h2>
                        <h4>
                            <span ng-show="!board.isCollapsed">Lists:</span>
                        </h4>

                    </div>
                    <div class="list-group-item" ng-repeat="list in board.lists" ng-hide="board.isCollapsed">
                        <div class="list-group">
                            <div class="list-group-item-heading" ng-click="list.isCollapsed = !list.isCollapsed">
                                <h3>
                                    <span ng-show="list.isCollapsed">{{list.name}} </span>
                                    <span ng-show="!list.isCollapsed">Cards for the list "{{list.name}}":</span>
                                    <span ng-show="list.isCollapsed" class="pull-right glyphicon glyphicon-plus"></span>
                                    <span ng-show="!list.isCollapsed" class="pull-right glyphicon glyphicon-minus"></span>
                                </h3>

                            </div>
                            <div class="list-group-item" ng-repeat="card in list.cards" ng-hide="list.isCollapsed">
                                <div class="list-group">
                                    <div class="list-group-item-heading" ng-click="card.isCollapsed = !card.isCollapsed">
                                        <h4>
                                            <span ng-show="card.isCollapsed">{{card.name}} </span>
                                            <span ng-show="!card.isCollapsed">Comments for the card "{{card.name}}":</span>
                                            <span ng-show="card.isCollapsed" class="pull-right glyphicon glyphicon-plus"></span>
                                            <span ng-show="!card.isCollapsed" class="pull-right glyphicon glyphicon-minus"></span>
                                        </h4>
                                    </div>
                                    <div class="list-group-item comments" ng-hide="card.isCollapsed">
                                        <form class="input-group" ng-submit="addComment(card)">
                                            <div class="input-group-btn">
                                                <input class="form-control" type="text" ng-model="card.newComment">
                                                <button class="btn btn-default" placeholder="Enter a comment" type="submit" ng-click="addComment(card)">Add Comment</button>
                                            </div>
                                        </form>
                                        <div ng-repeat="comment in card.comments">
                                            <span>{{comment.data.text}}</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    ////Get the userID for getting all the boards etc. (Maybe we only need one call here so we can get everything with the boards)
    //$http.get(vm.apiBase + "tokens/" + vm.token + "?key=" + vm.applicationKey)
    //    .then(function (response) {
    //        vm.memberID = response.data.idMember;
    //        //TODO get rid of all the nesting
    //        //Get all the boards
    //        $http.get(vm.apiBase + "members/" + vm.memberID + "/boards?key=" + vm.applicationKey + "&token=" + vm.token)
    //           .then(function (response) {
    //               vm.boards = response.data;
    //               //Get all the lists
    //               angular.forEach(vm.boards, function (board, key) {
    //                   board.isCollapsed = true;
    //                   $http.get(vm.apiBase + "boards/" + board.id + "?lists=open&list_fields=name&fields=name&key=" + vm.applicationKey + "&token=" + vm.token)
    //                      .then(function (response) {
    //                          board.lists = response.data.lists;
    //                          //Get all the cards
    //                          angular.forEach(board.lists, function (list, key) {
    //                              list.isCollapsed = true;
    //                              $http.get(vm.apiBase + "lists/" + list.id + "?cards=open&card_fields=name&key=" + vm.applicationKey + "&token=" + vm.token)
    //                                 .then(function (response) {
    //                                     list.cards = response.data.cards;
    //                                     //Get all the comments
    //                                     angular.forEach(list.cards, function (card, key) {
    //                                         card.isCollapsed = true;
    //                                         card.newComment = "";//Init the comment entry
    //                                         $http.get(vm.apiBase + "cards/" + card.id + "/actions?key=" + vm.applicationKey + "&token=" + vm.token)
    //                                            .then(function (response) {
    //                                                card.comments = response.data.filter(function (action) { return action.type == "commentCard" });
    //                                            });
    //                                     });

    //                                 });
    //                          });
    //                      });
    //               });
    //           });
    //    });

    //var getMemberURL = vm.apiBase + "tokens/" + vm.token + "?key=" + vm.applicationKey;
    //var getBoardsURL = vm.apiBase + "members/" + vm.memberID + "/boards?key=" + vm.applicationKey + "&token=" + vm.token;
    //var getListsURL = vm.apiBase + "boards/" + board.id + "?lists=open&list_fields=name&fields=name&key=" + vm.applicationKey + "&token=" + vm.token;
    //var getCardsURL = vm.apiBase + "lists/" + list.id + "?cards=open&card_fields=name&key=" + vm.applicationKey + "&token=" + vm.token;
    //var getCommentsURL = vm.apiBase + "cards/" + card.id + "/actions?key=" + vm.applicationKey + "&token=" + vm.token;


</script>
