@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script src="~/Scripts/angular.min.js"></script>

<h1 class="h1">Log in to Trello</h1>

<button class="login btn-default">Login</button>



<script>
    $(document).ready(function () {
        var regexToken = /[&#]?token=([0-9a-f]{64})/;
        var hashFragmentToken = regexToken.exec(location.hash);
        var token = hashFragmentToken ? hashFragmentToken[0].split("=")[1] : null;
        if (token) {

            $.ajax({
                type: "POST",
                url: "/Home/Index",
                data: { token: token },
                success: function (returnData) {
                    if (returnData.ok)
                        window.location = returnData.newurl;
                },
                dataType: "json"
            });
        }

        $("Button.login").click(function () {
            var key = "fed9c5de2188e9af5f1ca25c1af501ab";//Developer key
            var redirectUri = window.location.href;//Get the base of the site added
            window.location = "https://trello.com/1/authorize?response_type=token&key=" + key + "&redirect_uri=" + redirectUri + "&callback_method=fragment&scope=read%2Cwrite&expiration=never&name=Trello+Integration+Demo";
        });
    });
</script>